/* Estilo para el h1 */

/*Exemplo de regra CSS*/

/*Defina uma cor de fundo para o cabeçalho (<header>) da cor azul.
Aplique uma fonte serifada para todos os títulos (<h1>, <h2>).
Faça com que os links da barra de navegação (<nav>) fiquem em negrito.
Defina uma margem interna de 20 pixels para todos os elementos da classe .container.
Ajuste o espaçamento entre linhas para 1.5 para todo o conteúdo dentro da <section> com o id conteudo.
Estilize o formulário de contato (<form>) de forma que tenha uma borda sólida de 1 pixel, cor cinza e padding interno de 10 pixels.
Aplique uma cor de texto verde para todos os parágrafos (<p>).
Faça os botões (<button>) dentro do formulário de contato terem uma cor de fundo azul e texto branco.
Defina uma borda superior de 2 pixels sólida e vermelha para o rodapé (<footer>).
Todos os headers das páginas devem estar estilizados igualmente, mudando apenas os títulos das páginas e a navegação do menu.*/

html {
  font-size: 16px;
}

.cabecalho {
  font-size: 62.5%; /* 1rem = 10px */
  /*Exemplo de background-image*/
  background-image: url("../img/img-01-banner-1280×640.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: blue;
}

nav {
  font-weight: bold;
}

.container {
  padding: 20px;
}

#conteudo {
  line-height: 1.5;
}

form {
  border: 1px solid gray;
  padding: 10px;
}

p {
  color: green;
}

button {
  background-color: blue;
  color: white;
}

footer {
  border-top: 2px solid red;
}

/*Exemplo de seletores*/
/*Seletores de tipo*/
h1 {
  color: red;
  font-size: 5em;
  text-align: center;
}

h1,
h2 {
  font-family: serif;
}

/*Seletores de classe*/
.link {
  display: inline-block;
  margin: 0 5% 1% 5%;
  border: solid 2px red;
  background-color: rgb(255, 0, 0, 0.2);
  border-radius: 5px;
  transition: background-color 0.3s ease-in;

  /*Nesting elementos*/
  /*Nesting pseudo-elementos*/
  &:hover {
    background-color: red;
  }

  a {
    text-decoration: none;
    color: red;

    /*Nesting elementos*/
    img {
      display: inline-block;
      width: 50%;
    }
  }
}

/*Seletores de ID*/
#menu ul {
  text-align: center;
}
